name: Add issue to Project

on:
  issues:
    types: [opened]

jobs:
  createCard:
    runs-on: ubuntu-latest
    steps:
      - name: Create or Update Project Card
        uses: peter-evans/create-or-update-project-card@v1
        with:
          project-name: main
          column-name: To do
